@page "/"
@layout LoginLayout
@using EmployeeTrackingApp.Data;
@using EmployeeTrackingApp.Service;
@using Syncfusion.Blazor.Inputs;
@inject NavigationManager navManager
@inject IJSRuntime js
@inject AuthenticationStateProvider authStateProvider
@using Syncfusion.Blazor.Diagrams

<div class="row">
    <div class="page-background-class">
        <img src="Images/motivity.png" style="padding-top: 30px" />
    </div>
    <EditForm Model="@model">
        <DataAnnotationsValidator />
        <ValidationSummary />
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4">
        <div class="mb-3 text-ceneter">
        <h3 style="margin-left: 150px">Login</h3>
        </div>
        <div class="mb-3">
            <label>UserName</label>
            <SfTextBox class="form-control" @bind-Value="model.UserName" placeholder="User Name"></SfTextBox>
            
        </div>
        <div class="mb-3">
            <label>Password</label>
            <SfTextBox Type="InputType.Password" class="form-control" @bind-Value="model.security" placeholder="Password"></SfTextBox>
        </div>
        @*<input type="hidden" value="Invalid Credentails please try again"/>*@

            <div  class="mb-3 d-grid gap-2">
                <label hidden="@model.IsValidLogin" style="color:red;">Invalid Credentials!!</label>
            </div>

        <div class="mb-3 d-grid gap-2">
            <SfButton @onclick="Authenticate" class="btn btn-primary">Login</SfButton>
        </div>

    </div>
    </EditForm>
</div>


